Code/HeroBash/HeroBash.MonoWindows8/Service References/HighScoresService/HeroBashHighScoresService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://highscores.team-mango.com/HeroBashHighScoresService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HighScoresService" />
  <xs:element name="GetNearbyScoresInGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playthrough" type="xs:int" />
        <xs:element minOccurs="0" name="stage" type="xs:int" />
        <xs:element minOccurs="0" name="level" type="xs:float" />
        <xs:element minOccurs="0" name="time" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearbyScoresInGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HighScoresService" minOccurs="0" name="GetNearbyScoresInGameResult" nillable="true" type="q1:ArrayOfScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearbyScores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scoreId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearbyScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HighScoresService" minOccurs="0" name="GetNearbyScoresResult" nillable="true" type="q2:ArrayOfScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopTenScores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopTenScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HighScoresService" minOccurs="0" name="GetTopTenScoresResult" nillable="true" type="q3:ArrayOfScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearbyWeeklyScoresInGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playthrough" type="xs:int" />
        <xs:element minOccurs="0" name="stage" type="xs:int" />
        <xs:element minOccurs="0" name="level" type="xs:float" />
        <xs:element minOccurs="0" name="time" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearbyWeeklyScoresInGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HighScoresService" minOccurs="0" name="GetNearbyWeeklyScoresInGameResult" nillable="true" type="q4:ArrayOfWeeklyScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearbyWeeklyScores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scoreId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearbyWeeklyScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HighScoresService" minOccurs="0" name="GetNearbyWeeklyScoresResult" nillable="true" type="q5:ArrayOfWeeklyScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopTenWeeklyScores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopTenWeeklyScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HighScoresService" minOccurs="0" name="GetTopTenWeeklyScoresResult" nillable="true" type="q6:ArrayOfWeeklyScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastWeekScore">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastWeekScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HighScoresService" minOccurs="0" name="GetLastWeekScoreResult" nillable="true" type="q7:ArrayOfLastWeek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyPreviousScores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyPreviousScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HighScoresService" minOccurs="0" name="GetMyPreviousScoresResult" nillable="true" type="q8:ArrayOfScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playthrough" type="xs:int" />
        <xs:element minOccurs="0" name="stage" type="xs:int" />
        <xs:element minOccurs="0" name="level" type="xs:float" />
        <xs:element minOccurs="0" name="time" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddScoreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWeeklyScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playthrough" type="xs:int" />
        <xs:element minOccurs="0" name="stage" type="xs:int" />
        <xs:element minOccurs="0" name="level" type="xs:float" />
        <xs:element minOccurs="0" name="time" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWeeklyScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWeeklyScoreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>