Code/HeroBash/HeroBash.MonoLinux/Service References/HighScoresService/HeroBashHighScoresService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HighScoresService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HighScoresService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://highscores.team-mango.com/HeroBashHighScoresService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Score" nillable="true" type="tns:Score" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScore" nillable="true" type="tns:ArrayOfScore" />
  <xs:complexType name="Score">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateSubmitted" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DecimalScore" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExtraInt" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExtraString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FloatScore" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="GameID" type="xs:int" />
          <xs:element minOccurs="0" name="IntScore" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ScoreID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Score" nillable="true" type="tns:Score" />
  <xs:complexType name="ArrayOfWeeklyScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeeklyScore" nillable="true" type="tns:WeeklyScore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeeklyScore" nillable="true" type="tns:ArrayOfWeeklyScore" />
  <xs:complexType name="WeeklyScore">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateSubmitted" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DecimalScore" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExtraInt" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExtraString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FloatScore" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="GameID" type="xs:int" />
          <xs:element minOccurs="0" name="IntScore" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ScoreID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WeeklyScore" nillable="true" type="tns:WeeklyScore" />
  <xs:complexType name="ArrayOfLastWeek">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LastWeek" nillable="true" type="tns:LastWeek" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLastWeek" nillable="true" type="tns:ArrayOfLastWeek" />
  <xs:complexType name="LastWeek">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateSubmitted" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DecimalScore" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExtraInt" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExtraString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FloatScore" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="GameID" type="xs:int" />
          <xs:element minOccurs="0" name="IntScore" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ScoreID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LastWeek" nillable="true" type="tns:LastWeek" />
</xs:schema>